.navigation-tabs .nav-tabs .nav-link.active {
  background-color: #002c42ea;
  color: #fff;
}

.navigation-tabs ul li button {
  width: 100%;
}

.class-btn{
  width: 100%;
}

.header {
  height: 100px;
  width: 100%;
  color: white;
  background-color: #002c42ea;
  text-align: center;
  text-size-adjust: 50px;
  font-size: 25px;
  font-weight: bold;
}

.nav-links {
  color: gray !important;
}

.navigation-tabs ul {
  margin: 14px 0;
}

.navigation-tabs ul li {
  flex: 1;
}

.navigation-tabs ul li button {
  margin: auto;
}

.navigation-tabs .nav-tabs .nav-link.active {
  font-weight: 600 !important;
  font-size: 16px !important;
}
.nav-tabs .nav-link {
  font-weight: 600 !important;
  font-size: 16px !important;
}
.form-box-1 {
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 17px;
  background: #f4f4f4;
  margin: 1%;
  width: 50%;
}

.save-btn {
  background-color: #069 !important;
  color: #fff;
  padding: 11px 20px;
  border-radius: 5px;
  width: 50%;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.save-btn:hover {
  color: #fff;
}

input[type="text"],
input[type="number"] {
  height: 40px;
  padding-left: 10px;
  width: 100%;
}
.license-date{
  color: red;
}

@media screen and (max-width: 767px) {
  .form-box-1 {
    width: 100%;
  }
}
